﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/src/MasterPage/Web.master" CodeBehind="Main.aspx.cs" Inherits="SaleCycleApp.src.Main" %>


<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">

  

</asp:Content>
