﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Web.master.cs" Inherits="SaleCycleApp.src.MasterPage.Web" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
     <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  

 
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"  integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"> 
<link rel="stylesheet" href="../../Assets/css/style.css"> 
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="../../assets/js/stisla.js"></script>
 
  <script src="../../assets/js/inspinia.js"></script>
  <script src="../../assets/js/scripts.js"></script>
  <script src="../../assets/js/custom.js"></script>
  <script src="../../assets/js/popper.min.js"></script>
  <script src="../../assets/js/metisMenu/jquery.metisMenu.js"></script>
  <script src="../../assets/js/slimscroll/jquery.slimscroll.min.js"></script> 



       <asp:ContentPlaceHolder ID="HeaderContent" runat="server">
    <script src="../../signalr/hubs"></script>
      <script language="javascript" type="text/javascript">
          var sessionTimeoutWarning = 
	"<%= System.Configuration.ConfigurationSettings.AppSettings
	["SessionWarning"].ToString()%>";
          var sessionTimeout = "<%= Session.Timeout %>";

          var sTimeout = parseInt(sessionTimeoutWarning) * 60 * 1000;
          setTimeout('SessionWarning()', sTimeout);

          function SessionWarning() {

              var message = "Session ของคุณหมดอายุแล้ว กรุณา Login ใหม่อีกครั้ง";
              alert(message);
              window.location = '../../../default.aspx';
          }
      </script>
   
    </asp:ContentPlaceHolder>
</head>
<body style="background-image: url(Assets/img/3325193.jpg); 
    background-repeat: no-repeat;
    background-size: cover; " > 
<%---class="sidebar-mini"--%>
    <form id="form1" enctype="multipart/form-data"  runat="server">
                <div id="app" >
    <div class="main-wrapper main-wrapper-1" >
      <div class="navbar-bg" >
      <nav class="navbar navbar-expand-lg main-navbar" >
     
          <ul class="navbar-nav  form-inline mr-auto">
              
                 <li><div class="sidebar-brand ce">
                    <img src="../../assets/img/logo_sharp.png" style="width:90px" alt=""> <span class="namebrand"> Sales Cycle System <asp:Label ID="lbVerion" runat="server" style="font-size:12px"></asp:Label></span>
                  </div></li> 
                  
           
          </ul>
          <ul class="navbar-nav navbar-right " >
          <li>
            <asp:Label ID="lblBranchName" runat="server" style="     background-color: transparent;"></asp:Label>

          </li>
               <li>
                  <asp:Label ID="lblname" runat="server" style="  background-color: transparent;"></asp:Label>
             
              </li>
  
   
                    <li>
                        <a href="../../Default.aspx" class="dropdown-item has-icon " style="   background-color: transparent;">
                <i class="fas fa-sign-out-alt"></i> Logout
              </a>
                    </li>
        </ul> 
      </nav>
      </div>
      <div class="main-sidebar sidebar-style-2">
        <aside id="sidebar-wrapper">
         
          <ul class="sidebar-menu">
              <li class="nav-item dropdown " style="    background: #E60D0D; padding: 0px;"  >
            <a href="#" data-toggle="sidebar" class=" nav-link   "   style=" color:rgb(226, 220, 220);  height: 40px;"><i class="fas fa-bars" style="font-size:25px"></i></a>
              </li>

            <asp:Literal ID="litMenu" runat="server"></asp:Literal>

           
          </ul>
         
        </aside>
      </div>

      
      <div class="main-content">

          <div class="page-wrapper">
          <div class="wrapper">
          
           <asp:ContentPlaceHolder ID="MainContent" runat="server"></asp:ContentPlaceHolder>
           </div>
          </div>
      </div>
    
    
</div>

    </form>
</body>
</html>
